[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UKBAnalytica"]
	path = UKBAnalytica
	url = https://github.com/hinna0818/ukbanalytica
